In [1]:
import pandas as pd
data=pd.read_csv('transaction.csv')
data=pd.read_csv('transaction.csv',sep=';')
data.head()

,UserId,TransactionId,Year,Month,Day,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,ClientKeywords
0,278166,6355745,2019,Feb,2,12:50:00,465549,FAMILY ALBUM WHITE PICTURE FRAME,6,11.73,21.11,United Kingdom,"['Senior', 'Solo Entrepreneur', '2-5 Year Clie..."
1,337701,6283376,2018,Dec,26,09:06:00,482370,LONDON BUS COFFEE MUG,3,3.52,3.87,United Kingdom,"['Middle Age', 'Corporation', '2-5 Year Client']"
2,267099,6385599,2019,Feb,15,09:45:00,490728,SET 12 COLOUR PENCILS DOLLY GIRL,72,0.90,1.62,France,"['Middle Age', 'Corporation', '2-5 Year Client']"
3,380478,6044973,2018,Jun,22,07:14:00,459186,UNION JACK FLAG LUGGAGE TAG,3,1.73,1.90,United Kingdom,"['Middle Age', 'Small Business', 'New Client']"
4,-1,6143225,2018,Sep,10,11:58:00,1733592,WASHROOM METAL SIGN,3,3.40,5.78,United Kingdom,"['Middle Age', 'Solo Entrepreneur', '2-5 Year ..."

In [2]:
data.shape

(1047588, 13)

# Summy of the data

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047588 entries, 0 to 1047587
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Year                    1047588 non-null  int64
 3   Month                   1047588 non-null  object
 4   Day                     1047588 non-null  int64
 5   Time                    1047588 non-null  object
 6   ItemCode                1047588 non-null  int64
 7   ItemDescription         1044797 non-null  object
 8   NumberOfItemsPurchased  1047588 non-null  int64
 9   CostPerItem             1047588 non-null  float64
 10  SellingPricePerItem     1047588 non-null  float64
 11  Country                 1047588 non-null  object
 12  ClientKeywords          1047588 non-null  object
dtypes: float64(2), int64(6), object(5)
memory usage: 103.9+ MB

# working with calculation

In [4]:
CostPerItem=11.73
SellingPricePerItem=21.11
ProfitPerItem=SellingPricePerItem-CostPerItem
NumberOfItemsPurchased = 6
ProfitPerTransaction=ProfitPerItem*NumberOfItemsPurchased

In [5]:
CostPerItem=data['CostPerItem']
CostPerItem.head()

0    11.73
1     3.52
2     0.90
3     1.73
4     3.40
Name: CostPerItem, dtype: float64

In [6]:
CostPerItem=data['CostPerItem']
NumberOfItemsPurchased=data['NumberOfItemsPurchased']
CostPerTransaction=CostPerItem*NumberOfItemsPurchased
data['CostPerTransaction']= CostPerTransaction
CostPerTransaction.head()

0    70.38
1    10.56
2    64.80
3     5.19
4    10.20
dtype: float64

In [7]:
SellingPricePerItem=data['SellingPricePerItem']
NumberOfItemsPurchased=data['NumberOfItemsPurchased']
SalePricePerTransaction=SellingPricePerItem*NumberOfItemsPurchased
data['SalePerTransaction']=SalePerTransaction
SalePerTransaction.head()

NameError: name 'SalePerTransaction' is not defined